// @import 'scss/mixins/_typography';
// @import 'scss/mixins/_responsive';
// @import 'scss/mixins/_utils';
// @import 'scss/_variables';
// @import 'scss/badges';
// @import 'scss/buttons';
// @import 'scss/base';
// @import 'scss/forms';
// @import 'scss/dialog';
// @import 'scss/modal';
// @import 'scss/page';


.modal-full {
  position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-login {
  background: #fff;
    padding: 30px;
    border-radius: 8px;
    width: 500px;
    max-width: 100%;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    font-family: RedditSans, sans-serif;
}

.title {
  font-size: 28px;
    margin-bottom: 20px;
    font-weight: 400;
    margin-top: 0;
    font-family: RedditSans, sans-serif;
}

.modal-close2 {
  position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #efefef;
}

.close-b {
    width: 25px;
    height: 25px;
    color: #000;
}

.form-input {
  margin-bottom: 1rem;
  position: relative;
}

.input-label {
  font-size: 16px;
  font-family: RedditSans, sans-serif;
  margin-bottom: 10px;
  font-weight: 300;
}

.input-default {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  &::placeholder {
    color: #aaa;
  }
}

.password-input {
  // display: flex;
  align-items: center;
  .input-default {
    flex-grow: 1;
  }
  .link-forgot {
    position: absolute;
    right: .75rem;
    text-decoration: none;
    font-family: Averta;
    font-size: 14px;
    /* font-weight: 600; */
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #333;
    cursor: pointer;
    top: 40px;
    font-weight: 300;
  }
}

.form-error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.25rem;
}

.button-turq {
  padding: 12px;
    background-color: #00bcd4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: RedditSans, sans-serif;
    width: 100%;
    margin-bottom: 30px;

}

.form-text-default {
  text-align: center;
    margin: 10px 0;
    color: #777;
}

.social-login {
  display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.button-social {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon-wrapper {
    position: absolute;
    left: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
  }

  .svg {
    width: 20px;
    height: 20px;
  }
}

.button-face {
  padding: 10px;
    width: 48%;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
    font-family: RedditSans, sans-serif;
    position: relative;
}

.socialIconFacebook {
  position: absolute;
    top: 8px;
    left: 5px;
    width: 23px;
    height: 24px;
}

.button-google {
  padding: 10px;
    width: 48%;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
    font-family: RedditSans, sans-serif;
    position: relative;
}

.socialIconGoogle {
  position: absolute;
    top: 8px;
    left: 5px;
    width: 23px;
    height: 24px;
}

.signup-prompt {
  text-align: center;
  margin-top: 1rem;
  padding: 0.75rem;
  border-radius: 4px;
  font-family: RedditSans, sans-serif;
  span {
    font-family: RedditSans, sans-serif;
  }
  .button-link {
    color: #00bcd4;
    text-decoration: none;
    font-weight: 400;
    font-family: RedditSans, sans-serif;
    border: none;
    background: none;
    font-size: 16px;
  }
}
